# === CONFIGURATION SPOTIFY ===

# Récupérables sur https://developer.spotify.com/dashboard
# En créant une application :
# - Nom : au choix
# - Description : au choix
# - Redirect URI : http://127.0.0.1:8888/callback
# - APIs used : Web API
# Après la création de l'application, vous pourrez récupérer le Client ID et le Client Secret.

SPOTIFY_CLIENT_ID=votre_client_id_ici
SPOTIFY_CLIENT_SECRET=votre_client_secret_ici
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback

# IDs des Playlists (trouvables dans l'URL Spotify ou via clic droit > Partager)
# - PLAYLIST_ID : Récupère les !sr en direct (vidée toutes les 30 min)
# - ARCHIVE_ID : Contient l'historique global sans doublons
# Archivage : Lancement du bot et toutes les 30 minutes automatiquement

PLAYLIST_ID=votre_id_playlist_live
ARCHIVE_ID=votre_id_playlist_archive

# ==========================================
# CONFIGURATION TWITCH (BOT & CHAT)
# ==========================================

# Identité du Bot

TWITCH_NICK=nom_du_compte_bot
TWITCH_CHANNEL=votre_chaine_twitch

# API Développeur :
# Récupérable sur https://dev.twitch.tv/console/apps 
# En créant une application :
# - Nom : au choix
# - OAuth Redirect URLs : "https://twitchtokengenerator.com"
# - Catégorie : Chat Bot
# - Type de client : Confidential
# Après la création de l'application, vous pourrez récupérer le Client ID et le Client Secret.

TWITCH_CLIENT_ID=votre_client_id_twitch
TWITCH_CLIENT_SECRET=votre_client_secret_twitch

# Authentification (Génération via https://twitchapps.com/tmi/ ou https://twitchtokengenerator.com/)
# Le compte twitch doit être celui de celui qui écris dans le chat en tant que bot, 
# et doit être modérateur de la chaîne pour pouvoir envoyer des messages.
# Les permissions nécessaires sont : 
# - chat:edit, 
# - chat:read, 
# - channel:moderate,
# - moderator:manage:banned_users
# Inserez le Client Secret et le Client ID de votre application Twitch pour générer les tokens d'accès et de rafraîchissement.
# Allez en bas de la page et cliquez sur genérer le token, puis copiez les tokens générés ci-dessous.

TWITCH_TOKEN=oauth:votre_access_token #Access Token (commence par "oauth:")
TWITCH_REFRESH_TOKEN=votre_refresh_token #Refresh Token (ne commence pas par "oauth:")


# === PARAMÈTRES DU BOT ===

# Liste des admins séparés par des virgules (ex: pseudo1,pseudo2)

ADMINS=votre_pseudo # Et ceux de vos modérateurs si vous en avez

# Limites de musiques acceptées dans la file d'attente pour les utilisateurs et les modérateurs

LIMIT_USER=5 
LIMIT_MODO=10

# --- COPIEZ CE FICHIER VERS .env ET REMPLISSEZ VOS INFOS ---
