# --- COPIEZ CE FICHIER VERS .env ET REMPLISSEZ VOS INFOS ---
SPOTIFY_CLIENT_ID=votre_id
SPOTIFY_CLIENT_SECRET=votre_secret
PLAYLIST_ID=votre_playlist_id

TWITCH_TOKEN=oauth:votre_token
TWITCH_NICK=votre_pseudo_bot
TWITCH_CHANNEL=votre_chaine
TWITCH_CLIENT_ID=votre_client_id

ADMINS=votre_pseudo
LIMIT_USER=5
LIMIT_MODO=10